{template 'header'}
<style type="text/css">
.qr {width:140px;font-size:14px;cursor:pointer;display:none;}
.qr_li {line-height:32px;height:32px;padding-left:20px;overflow:hidden;}
.qr_on {line-height:32px;height:32px;padding-left:20px;overflow:hidden;background:#FFFFFF;border-radius:0 10px 10px 0;}
</style>
<div class="m">	
	<div class="nav">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; 手机浏览</div>
</div>
<div class="m">
	<div style="background:url('{DT_STATIC}file/image/mobile_bg.png') no-repeat;height:480px;margin-top: 7px;"></div>
</div>
{template 'footer'}