{template 'header'}
<div class="m">
<div class="m_l_1 f_l">
	<div class="left_box">		
		<div class="pos">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> » <a href="{$MOD[linkurl]}">{$MOD[name]}</a> » <a href="{$MOD[linkurl]}search.php">搜索</a></div>
		<div class="fsearch">
			<form action="{$MOD[linkurl]}search.php" id="fsearch">
			<input type="hidden" name="list" id="list" value="{$list}"/>
			<table cellpadding="5" cellspacing="3">
			<tr>
			<td width="80" align="right">关 键 词：</td>
			<td colspan="3"><input type="text" size="60" name="kw" value="{$kw}" class="pd3"/></td>
			</tr>
			<tr>
			<td></td>
			<td colspan="3">
			{loop $sfields $k $v}
			<input type="radio" name="fields" value="{$k}" id="fd_{$k}"{if $fields==$k} checked{/if}/><label for="fd_{$k}"> {$v}</label> 
			{/loop}			
			</td>
			</tr>
			<tr>
			<td align="right">商品分类：</td>
			<td>{$category_select}</td>
			<td align="right">所在地区：</td>
			<td>{$area_select}</td>
			</tr>
			<tr>
			<td align="right">单价范围：</td>
			<td>
			<input type="text" size="10" name="minprice" value="{$minprice}"/> ~ <input type="text" size="10" name="maxprice" value="{$maxprice}"/></td>
			<td align="right">排序方式：</td>
			<td>{$order_select}</td>
			</tr>
			</tr>
			<tr>
			<td></td>
			<td colspan="3">
			<input type="button" value="立即搜索" style="background: #FF7300;border: 0;padding: 6px 15px;color: #fff;border-radius: 5px;font-size: 14px;"/>&nbsp;&nbsp;
			<a href="{$MOD[linkurl]}search.php" style="background: #FF7300;border: 0;padding: 7px 15px;color: #fff;border-radius: 5px;font-size: 14px;">重新搜索</a>
			
			</td>
			</tr>
			</table>
		{if $CP}
		{loop $PPT $p}
		<div class="ppt">
			<table cellpadding="0" cellspacing="0" width="100%">
			<tr>
			<td class="ppt_l" valign="top">按{$p[name]}</td>
			<td class="ppt_r" valign="top">
			<input type="hidden" name="ppt_{$p[oid]}" id="ppt_{$p[oid]}" value="{$p[select]}"/>
			<a href="###" onclick="Dd('ppt_{$p[oid]}').value='';Dd('fsearch').submit();">{if $p[select]==''}<span>全部</span>{else}全部{/if}</a>
			{loop $p[options] $o}
			 | <a href="###" onclick="Dd('ppt_{$p[oid]}').value='{$o}';Dd('fsearch').submit();">{if $p[select]==$o}<span>{$o}</span>{else}{$o}{/if}</a>
			{/loop}
			</td>
			</tr>
			</table>
		</div>
		{/loop}
		{/if}
		</form>
		</div>
		{if $page==1 && $kw}
		{ad($moduleid,$catid,$kw,6)}
		{load('m'.$moduleid.'_k'.urlencode($kw).'.htm')}
		{/if}
		{if $tags}
		<form method="post">
		<div class="sell_tip" id="sell_tip" style="display:none;" title="双击关闭" ondblclick="Dh(this.id);">
			<div>
				<p>您可以</p>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/> 或
				<input type="submit" value="批量购买" onclick="this.form.action='{$MOD[linkurl]}cart.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/>
			</div>
		</div>		
		<div class="img_tip" id="img_tip" style="display:none;"> </div>
		<div class="tool">
			<table>
			<tr height="30">
			<td width="25" align="center" title="全选/反选"><input type="checkbox" onclick="checkall(this.form);"/><td>
			<td>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/> 
				<input type="submit" value="批量购买" onclick="this.form.action='{$MOD[linkurl]}cart.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/>
			</td>
			<td align="right">
			<!--{if $list == 2}-->
			<!--<img src="{DT_SKIN}image/list_txt_on.gif" width="16" height="16" alt="文字列表" align="absmiddle"/> -->
			<!--{else}-->
			<!--<img src="{DT_SKIN}image/list_txt.gif" width="16" height="16" alt="文字列表" align="absmiddle" class="c_p" onclick="Dd('list').value=2;Dd('fsearch').submit();"/> -->
			<!--{/if}-->
			{if $list == 1}
			<img src="{DT_SKIN}image/list_img_on.gif" width="16" height="16" alt="图片列表" align="absmiddle"/> 
			{else}
			<img src="{DT_SKIN}image/list_img.gif" width="16" height="16" alt="图片列表" align="absmiddle" class="c_p" onclick="Dd('list').value=1;Dd('fsearch').submit();"/> 
			{/if}
			{if $list == 0}
			<img src="{DT_SKIN}image/list_mix_on.gif" width="16" height="16" alt="图文列表" align="absmiddle"/> 
			{else}
			<img src="{DT_SKIN}image/list_mix.gif" width="16" height="16" alt="图文列表" align="absmiddle" class="c_p" onclick="Dd('list').value=0;Dd('fsearch').submit();"/> 
			{/if}
			</td>
			</tr>
			</table>
		</div>

		{if $list==2}

{loop $tags $k $t}
<div class="list" id="item_{$t[itemid]}">
			<table>
			<tr height="30">
			<td width="25" align="center"> </td>
			<td>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/> 
				<input type="submit" value="批量购买" onclick="this.form.action='{$MOD[linkurl]}cart.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/>
			</td>
			<td> </td>
			</tr>
			</table>
		</div>
{/loop}
{if $pages}<div class="pages">{$pages}</div>{/if}

		{elseif $list==1}

<table cellpadding="5" cellspacing="5" width="100%">
{loop $tags $k $t}
{if $k%5==0}<tr>{/if}
<td valign="top" width="20%" id="item_{$t[itemid]}">
	<table cellpadding="3" cellspacing="3" width="100%">
	<tr align="center">
	<td class="thumb"><a href="{$t[linkurl]}" target="_blank"><img src="{imgurl($t[thumb])}" width="150" height="110" alt="" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');" class="bd"/></a></td>
	</tr>
	<tr>
	<td class="thumb">
	<ul>
	<li><input type="checkbox" id="check_{$t[itemid]}" name="itemid[]" value="{$t[itemid]}" onclick="sell_tip(this, {$t[itemid]});"/> <a href="{$t[linkurl]}" target="_blank" class="px13 f_n" style="color:#3383C0;font-size: 14px;font-weight: bold">{$t[title]}</a></li>
	</ul>
	<div style="padding:5px 0 0 0;">
		{if $t[unit] && $t[price]>0}
			<span class="f_red"><strong class="px14">{$t[price]}</strong>/{$t[unit]}</span><br/>
		{else}
		<span class="f_gray f_span" style="font-size: 16px;font-weight: bold;font-family: Microsoft YaHei">￥{$t[price]}</span>
		{/if}
		<p style="margin:0;color: #464646;font-size: 12px;">总共成交{$t[orders]}笔</p>
	</div>
	<ul>
		<li>{if $t[vip]}<img src="{DT_SKIN}image/vip_{$t[vip]}.gif" alt="{VIP}" title="{VIP}:{$t[vip]}级" style="border:none;" align="absmiddle"/> {/if}<a href="{userurl($t[username])}" target="_blank" style="color:#464646;font-size: 12px;">{$t[company]}</a></li>

	</ul>
	</td>
	</tr>
	<tr>
	<td style="float:left;font-size: 12px;">
		广东省深圳市
	{if $t[username] && $DT[im_web]}{im_web($t[username].'&mid='.$moduleid.'&itemid='.$t[itemid])} {/if}
	{if $t[qq] && $DT[im_qq]}{im_qq($t[qq])} {/if}
	{if $t[ali] && $DT[im_ali]}{im_ali($t[ali])} {/if}
	{if $t[msn] && $DT[im_msn]}{im_msn($t[msn])} {/if}
	{if $t[skype] && $DT[im_skype]}{im_skype($t[skype])} {/if}
		<!--<img src="http://120.76.78.213/gaosou/file/image/qq.gif" title="点击QQ交谈/留言" alt="" align="absmiddle" onerror="this.src=DTPath+'file/image/qq-off.gif';" onload="if(this.width==77){this.src=DTPath+'file/image/qq-off.gif';}else if(this.width==23){this.src=DTPath+'file/image/qq.gif';}">-->
				</td>
	</tr>
	</table>
</td>
{if $k%5==4}</tr>{/if}
{/loop}
</table>
{if $pages}<div class="pages">{$pages}</div>{/if}

		{else}
		{template 'list-'.$module, 'tag'}
		{/if}

		</form>
		{else}
		{template 'noresult', 'message'}
		{/if}
	</div>
</div>
<div class="m_n f_l"> </div>
<div class="m_r_1 f_l">
	{if $kw}
	<div class="box_head"><div><strong>相关搜索</strong></div></div>
	<div class="box_body">
		<div class="sch_site">
			<ul>
			{loop $MODULE $mod}{if $mod[moduleid]>3 && $mod[moduleid]!=$moduleid && !$mod[islink]}<li><a href="{$mod[linkurl]}search.php?kw={urlencode($kw)}">在 <span class="f_red">{$mod[name]}</span> 找 {$kw}</a></li>{/if}{/loop}
			</ul>
		</div>
		<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and word<>'$kw' and keyword like '%$keyword%'&pagesize=10&order=total_search desc&template=list-search_relate", -2)}-->
	</div>
	<div class="b10"> </div>
	{/if}
	<div class="sponsor">{ad($moduleid,$catid,$kw,7)}</div>
	<div class="box_head"><div><strong>今日搜索排行</strong></div></div>
	<div class="box_body">
		<div class="rank_list">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400&pagesize=10&order=today_search desc&key=today_search&template=list-search_rank")}-->
		</div>
	</div>
	<div class="b10"> </div>
	<div class="box_head"><div><strong>本周搜索排行</strong></div></div>
	<div class="box_body">
		<div class="rank_list">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*7&pagesize=10&order=week_search desc&key=week_search&template=list-search_rank")}-->
		</div>
	</div>
	<div class="b10"> </div>
	<div class="box_head"><div><strong>本月搜索排行</strong></div></div>
	<div class="box_body">
		<div class="rank_list">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=10&order=month_search desc&key=month_search&template=list-search_rank")}-->
		</div>
	</div>
</div>
</div>
{template 'footer'}