/* global */
* {word-break:break-all;font-family:Verdana,Arial;-webkit-text-size-adjust:none;}/*"Microsoft Yahei",*/
body {margin:0;font-size:12px;color:#333333;background:#FFFFFF;
    /*background-image:  url("image/taiji2.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 1000px;*/
}
form,input,select,textarea,td,th {font-size:12px;}
td, th {
    padding: 6px;
}
img {border:none;}
ul li {list-style-type:none;}
ol li {list-style-type:decimal;}
ul,form {margin:0px;padding:0px;}
/*a:link,a:visited,a:active {color:#333333;text-decoration:none;}*/
a:hover {color:#FF6600;}
/* links */
a.w:link,a.w:visited,a.w:active {color:#FFFFFF;text-decoration:none;}
a.w:hover {color:#F4F3F2;}
a.b:link,a.b:visited,a.b:active {color:#225588;text-decoration:none;}
a.b:hover {color:#FF6600;}
a.g:link,a.g:visited,a.g:active {color:#666666;text-decoration:none;}
a.g:hover {color:#FF6600;}
@media print {  /*覆盖bootstrap中的设定，打印预览时不显示超链接*/
    a[href]:after {
        content: "";
    }
}
/* common */
.m {margin:auto;width:1190px;background:#FFFFFF;clear:both;}
.head {background:#F1F1F1 url('image/head_bg.png') repeat-x;width:100%;height:31px;position:fixed;z-index:9;left:0;}
.head a:link,
.head a:visited,
.head a:active {
    color:#333333;
    text-decoration:none;
}
.head_m {margin:auto;width:1190px;padding:7px 0 0 0;color:#666666;}
.head_s {height:31px;}
.head_t strong{color:#FF0000;font-weight:normal;}
.head_l li {float:left;margin:0 10px 0 0;}
.h_city {background:url('image/ico_arrow_d.gif') no-repeat right center;padding:0 10px 0 0;}
.h_fav {padding:0 6px 0 2px;}
.h_mobile {background:url('image/ico_mobile.gif') no-repeat 0 center;padding:0 2px 0 15px;}
.h_cart {background:url('image/ico_cart.gif') no-repeat 0 center;padding:0 6px 0 18px;}
.h_qrcode {background:url('image/ico_qrcode.gif') no-repeat 0 center;padding:0 6px 0 18px;}

.logo {width:200px;height:70px;overflow:hidden;}
.logo img {margin:5px 0 0 0;height:60px;}
.head_search_kw {width:355px;margin:25px 0 0 15px;height:20px;line-height:20px;overflow:hidden;}
.head_search {float:left;width:410px;height:32px;background:url('image/head_search.png') no-repeat;margin-top:20px;}
.head_search_on {float:left;width:410px;height:32px;background:url('image/head_search.png') no-repeat 0 -32px;margin-top:20px;}
.head_search div,.head_search_on div {clear:both;padding:4px 0 0 25px;}
.search_i {width:220px;font-size:14px;height:20px;line-height:20px;padding:2px 0 0 0;color:#666666;background:url('image/spacer.gif');border:none;}
.search_i:focus{outline:none;}
.search_m {
    width:60px;
    cursor:default;
    padding:2px 25px 0 10px;
    font-size:14px;
    height:20px;
    line-height:20px;
    color:#666666;
    background:url('image/spacer.gif');
    border:none;
    -webkit-box-sizing: initial;
}
.search_s {width:70px;height:31px;border-radius: 0 0 3px 3px;background:#FF7300;border:none;padding:0;margin-top: -3px;color: #fff;font-size: 14px;cursor:pointer;}

#search_module {z-index:1000;position:absolute;width:95px;overflow:hidden;margin:52px 0 0 445px;font-size:12px;line-height:20px;color:#666666;background:#FFFFFF;border:#CCCCCC 1px solid;border-top:none;}
#search_module a {display:block;height:20px;padding:1px 10px 1px 10px;color:#333333;}
#search_module a:hover {background:#E4F1F7;font-weight:bold;}

#search_tips {z-index:1000;position:absolute;width:340px;overflow:hidden;cursor:pointer;margin:50px 0 0 200px;font-size:13px;line-height:20px;color:#666666;background:#FFFFFF;border:#444444 1px solid;}
#search_tips div {height:20px;padding:1px 8px 1px 8px;clear:both;overflow:hidden;}
#search_tips div span {float:right;font-size:12px;}
#search_tips label {display:block;width:100%;background:#FAFAFA;font-size:12px;color:#0000CC;text-align:right;}
.search_t_div_1 {color:#333333;}
.search_t_div_1 span {color:#008000;}
.search_t_div_2 {background:#3366CC;color:#FFFFFF;}
.search_t_div_2 span {color:#FFFFFF;}

/* menu */
.menu {
    height:35px;
    line-height:35px;
    line-height:37px\9;
    /*IE8*/
    /*background:#2587F4 url('image/menu_bg.png') repeat-x;*/
    background:#ff7300;
    letter-spacing:1px;
    font-size:14px;
    padding:0 15px 0 15px;
    overflow:hidden;
}
.menu li {
    float:left;
    /*background:url('image/menu_bg_li.png') no-repeat right 0;*/
}
.menu .menuon {
    /*background:url('image/menu_bg_on.png') repeat-x;*/
    background: #ff3600;
    margin-left: -2px;
}
.menu a:link,.menu a:visited,.menu a:active {display:block;_display:inline-block;height:35px;color:#FFFFFF;padding:0 10px 0 10px;text-decoration: none;}
.menu a:hover {
    /*background:url('image/menu_bg_on.png') repeat-x;*/
    background: #ff3600;
}

.foot {color:#666666;text-align:center;line-height:30px;padding:10px 0 10px 0;}
.foot_page {
    background:#F4F4F4;
    /*border-top:#DDDDDD 1px solid;*/
    padding:0 10px 0 10px;
    text-align:center;
    height:40px;
    line-height:40px;
    overflow:hidden;
    color:#666666;
}
.foot_page a:link,
.foot_page a:visited,
.foot_page a:active {
    color:#333333;
    text-decoration:none;
}

/* box */
.box_head {border:#DDDDDD 1px solid;border-bottom:none;height:31px;line-height:31px;overflow:hidden;padding:0 10px 0 10px;background:#EEEEEE;}
.box_head strong {font-size:14px;color: #000}
.map{
  margin-top: 10px;
}
.box_body {
    border:#DDDDDD 1px solid;
    border-top:none;
    padding:6px 8px 6px 8px;
    min-height:134px;
}
.box_body li {height:22px;line-height:22px;overflow:hidden;}
#landing-page .box_head {
    background: none;
    border: #DDDDDD 0px solid;
    border-bottom: #DDDDDD 1px solid;
}
#gaosou_word a,.head_search_kw a{
    color: #939393;
}
#mall .box_body {
    background-color: #fff;
    /*border: 1px solid #ddd;*/
}
#info .m{
    background-color: #B6C6F1;
    border: none;
}
#busservice .m{
    background-color: #B6C6F1;
    border: none;
}
#foot .tab_head,
#foot .box_body{
    border: none;
}
.mthumb td {padding:1px}
.tab_head {border:#DDDDDD 1px solid;border-bottom:none;height:31px;line-height:31px;font-size:14px;overflow:hidden;background:#EEEEEE url('image/box_head_bg.gif') repeat-x;font-weight:bold;}
.tab_2 {float:left;
    width: 88px;
    text-align: center;
    height: 32px;border:1px solid #ddd;border-bottom:0;cursor:pointer;}
.tab_1 {float:left;
    width: 87px;
    text-align: center;
    height: 32px;font-weight:normal;border:1px solid #DDDDDD ;border-bottom:2px solid #DDDDDD;cursor:pointer;background:#FFFFFF;}
.tab_nothing {float:left;border-bottom: 2px solid #ddd;background:#FFFFFF;width: 741px;height: 32px;}
.tab_1_1 {border-bottom:#DDDDDD 1px solid;cursor:pointer;}
.tab_1_2 {border:#DDDDDD 1px solid;border-bottom:none;cursor:pointer;font-weight:bold;}
#mall .tab_head {
    background: none;
    border: 0;

}

.tab_head_2 {height:27px;background:#EEEEEE;border-left:#DDDDDD 1px solid;border-right:#DDDDDD 1px solid;text-align:center;padding-left:12px;}
.tab_2_1 {float:left;width:80px;height:27px;line-height:31px;overflow:hidden;background:url('image/tab_2_1.gif') no-repeat 6px right;cursor:pointer;}
.tab_2_1 span {color:#333333;}
.tab_body_2 {border:#DDDDDD 1px solid;border-top:none;}

.li_dot li {background:url('image/li_dot.gif') no-repeat 5px 10px;padding:0 10px 0 12px;}
#landing-page li{
    background: none;
}
/* pages */
.pages {padding:20px 0 5px 0;text-align:center;font-size:12px;color:#666666;}
.pages a:link,.pages a:visited,.pages a:active {background:#FFFFFF;border:#DDDDDD 1px solid;padding:3px;text-decoration:none;}
.pages a:hover {background:#258CFF;border:#258CFF 1px solid;color:#FFFFFF;padding:3px;text-decoration:none;}
.pages strong {background:#258CFF;padding:3px;border:#258CFF 1px solid;color:#FFFFFF;}
.pages_inp {width:30px;border:#DDDDDD 1px solid;color:#666666;padding:2px;text-align:center;}
.pages_btn {width:26px;border:#FF6600 1px solid;color:#FFFFFF;padding:1px;background:#FF6600;font-weight:bold;font-size:11px;}
.pages label {background:#FFFFFF;border:#DDDDDD 1px solid;color:#666666;padding:3px 5px 3px 5px;}
.pages label em {color:red;font-weight:bold;font-style:normal;}
.pages label span {font-weight:bold;}
.pages cite {font-style:normal;}
/* table */
.tb table{width:100%;border-collapse:collapse;border-spacing:0;}
.tb th{background:#EEEEEE;border:#DDDDDD 1px solid;padding:4px;line-height:150%;}
.tb td{border:#DDDDDD 1px solid;padding:4px;line-height:150%;}
/* user */
.user {background:url('image/user_bg.gif') no-repeat;width:300px;font-size:12px;line-height:normal;}
.user_login {padding:15px 0 10px 25px;}
.user_input {border:#8DB2E3 1px solid;padding:3px 0 4px 3px;width:90px;color:#666666;}
.user_tip {margin:0 20px 0 20px;padding:0 0 5px 5px;border-bottom:#EEEEEE 1px solid;font-weight:bold;color:#333333;}
.user_reg {padding:5px 0 0 20px;}
.user_reg_c {padding:5px 0 10px 10px;}
.user_can {padding:10px 10px 0 10px;text-align:center;color:#1B4C7A;}
.user_can td {padding:6px 0 10px 0;background:url('image/user_can.gif') no-repeat center 0;}
.user_wel {padding:18px 0 10px 45px;font-weight:bold;font-size:14px;background:url('image/user_wel.gif') no-repeat 26px 18px;}
.user_do {padding:0 10px 0 10px;text-align:center;}
.user_do td {padding:6px 0 11px 0;background:url('image/user_can.gif') no-repeat center 0;}
.user_foot {height:10px;line-height:10px;font-size:1px;background:url('image/user_bg.gif') no-repeat 0 bottom;}
.user_warn {padding:5px;margin:0 10px 0 10px;border:#FFC600 1px solid;background:#FFFEBF;text-align:center;font-weight:bold;}
.thumb {padding:5px 0 5px 0;}
.thumb img {padding:3px;}
.thumb li {height:22px;line-height:22px;overflow:hidden;}
.thumbml ul {margin:10px 0 15px 0;}
.imb img {border:#DDDDDD 1px solid;padding:3px;}
/* album */
#mid_pos {position:absolute;}
#mid_div {
    width:240px;
    height:180px;
    cursor:crosshair;
    border:#CCCCCC 1px solid;
    background:#F3F3F3;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
#zoomer {border:#333333 1px solid;width:120px;height:90px;background:#FFFFFF url('image/zoom_bg.gif');position:absolute;opacity:0.5;filter:alpha(opacity=50);}
#big_div {width:320px;height:240px;border:#CCCCCC 1px solid;background:#FFFFFF;position:absolute;overflow:hidden;}
#big_pic {position:absolute;}
.ab_im {padding:2px;margin:10px 0 10px 13px;border:#C0C0C0 1px solid;}
.ab_on {padding:2px;margin:10px 0 10px 13px;border:#FF6600 1px solid;background:#FF6600;}
/* ads */
.adword table {background:url('image/adword_bg.gif') repeat-x 0 bottom;}
.adword_tip {color:#FF1100;border-bottom:#DDDDDD 1px solid;padding:8px 10px 8px 28px;background:url('image/arrow_up.gif') no-repeat 10px 8px;}
.sponsor {}
/* basic */
.f_l {float:left;}
.li_asgj{height: 145px;}
.f2_l {width: 35%;display: inline-block;}
.f_r {float:right;}
.t_l {text-align:left;}
.t_r {text-align:right;}
.t_c {text-align:center;}
.f_b {font-weight:bold;}
.f_n {font-weight:normal;}
.f_white {color:white;}
.f_gray {color:#666666;}
.box_down{min-height: 135px;}
.box_down img{
    width: 190px;
    height: 140px;}
.f_orange {color:#FF6600;}
.f_red {color:red;}
.f_green {color:green;}
.f_blue {color:blue;}
.f_dblue {color:#225588;}
.f_price {font-weight:bold;font-family:Arial;color:#FF0000;}
.px10 {font-size:10px;}
.px11 {font-size:11px;}
.px12 {font-size:12px;}
.px13 {font-size:13px;}
.px14 {font-size:14px;}
.px15 {font-size:15px;}
.px16 {font-size:16px;}
.b5 {height:5px;font-size:1px;}
.b6 {height:6px;font-size:1px;}
.b8 {height:8px;font-size:1px;}
.b10 {height:10px;font-size:1px;}
.b15 {height:15px;font-size:1px;}
.pd3 {padding:3px;}
.pd5 {padding:5px;}
.pd10 {padding:10px;}
.pd15 {padding:15px;}
.pd20 {padding:20px;}
.lh18 {line-height:180%;}
.ls1 {letter-spacing:1px;}
.c_p {cursor:pointer;}
.c_b {clear:both;}
.dsn {display:none;}
.absm {vertical-align:middle;}
.btn {background:url('image/btn.gif') no-repeat;height:24px;line-height:22px;width:50px;border:none;cursor:pointer;letter-spacing:3px;}
.btn_1 {background:url('image/btn_1.gif') no-repeat;height:21px;line-height:21px;width:69px;padding-left:9px;border:none;cursor:pointer;}
.btn_2 {background:url('image/btn_2.gif') no-repeat;height:21px;line-height:21px;width:69px;padding-left:9px;border:none;cursor:pointer;}
.btn_s {background:#2388FA;color:#FFFFFF;border:none;padding:2px;letter-spacing:1px;}
.btn_r {background:#D7D7D7;color:#666666;border:none;padding:2px;letter-spacing:1px;}
.bd {border:#CAD9EA 1px solid;}
.highlight {color:red;}
.jt {color:#003278;cursor:pointer;}
.np {padding:20px 30px 20px 50px;line-height:25px;}
.lazy {background:#FAFAFA url('image/loading.gif') no-repeat center center;}
.slide {background:#FAFAFA;overflow:hidden;}
/* position */
.pos {padding:0 10px 0 10px;line-height:31px;background:#EEEEEE;}
.nav {padding:0 10px 10px 10px;}
/* show */
.title {height:25px;font-size:20px;text-align:center;font-family:\9ED1\4F53;font-weight:normal;}
.title_trade {height:25px;font-size:18px;text-align:center;font-family:\9ED1\4F53;font-weight:normal;margin:0 0 8px 0;padding:0 0 10px 0;}
.info {margin:0 15px 0 15px;padding:4px 10px 4px 10px;border-top:#D0D0D0 1px solid;border-bottom:#D0D0D0 1px solid;}
.introduce {margin:10px 15px 10px 15px;padding:8px 12px 8px 12px;line-height:180%;font-size:14px;background:#F1F1F1;}
.content {font-size:14px;line-height:180%;padding:10px 20px 10px 20px;}
.content p {text-indent:2em;}
.content a:link,.content a:visited,.content a:active {color:#225588;text-decoration:underline;}
.content a:hover {color:#FF6600;text-decoration:none;}
.property {border:#E6E6E6 1px solid;background:#F6F6F6;padding:10px;margin:0 10px 0 10px;}
.property li {float:left;width:30%;height:22px;line-height:22px;overflow:hidden;}
.detail {background:url('image/arrow.gif') no-repeat 0 9px;border-bottom:#C0C0C0 1px dotted;padding:8px 0 8px 20px;margin:0 15px 0 15px;}
.related {padding:5px 15px 5px 15px;line-height:22px;}
.keylink {font-weight:normal;padding:0 3px 0 3px;}
#comment_main div {height:100px;background:url('image/loading.gif') no-repeat center center;}
/* layout */
.m_l {width:880px;}
.m_r {width:300px;}
#mall .m_r {
    background-color: #F5E7E7;
}
.m_m_half {width:300px;}
.m_n {width:10px;}
.m_l_1 {width:880px;}
.m_r_1 {width:300px;}
.m_r_2 {width:230px;}
.c3_l {
    width:265px;
    /*background: #D2758E;*/
    padding: 25px;
    height: 540px;
    /*background: url('image/list_of_name.png') no-repeat;*/
}
.c3_c {
    width:660px;
    margin-top: 35px;
    /*background: #8F83BD;*/
    /*padding: 20px 3px 20px 0;*/
}
.c3_c ul {
    padding-left: 20px;
}
.c3_c li {
    padding: 0;
}
.c3_c .box_body {
    background: #8F83BD;
    border: #8F83BD 1px solid;
    border-top: #DDDDDD 1px solid;
    padding: 6px 14px 6px 2px;
}
.c3_c .announce {
    text-align: left;
}
.c3_c .announce a:link, .c3_c .announce a:visited, .c3_c .announce a:active{
    color: #fff;
}
.c3_l {
    margin-top: 10px;
    width:265px;
    padding: 10px 15px;
    height: 660px;
    /*background: #2f9fb7;*/
    /*border: #DDDDDD 1px solid;*/
    background: url('image/home/list_of_name.png');
    background-size:265px 660px;
}
.news_box{
    background: url('image/news_bg.png') no-repeat;
    width: 1171px;
    margin:0 auto;
    height:617px;
    position: relative;
}
.news_body{
    width: 200px;
    height: 435px;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    border:0;
    overflow: hidden;
}
.new_active{
    background-color: #e5e5e5;
}
.news_body ul{
    list-style: none;
    width: 180px;
    margin:0;
    padding:0;
}
.news_body li{
    padding:0 5px;
    width: 180px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    margin:0;
    cursor: pointer;
}
.news_body li a{
    color: #615F60;
    font-size:14px;
}
.list-top{
    width: 100%;
    background-color: #f7f7f7;
    height:30px;
    border-bottom:1px solid #ccc;
}
.list-top-ul{
    float: left;
}
.list-top-ul li{
    float: left;
    height: 30px;
    line-height:30px;
    min-width: 70px;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    color: #999;
}
.list-top-ul li:hover{
    color: #ff7300;
}
.list-top-ul li.active{
    color: #ff7300;
}
.news_body li:hover{
    background-color: #e5e5e5;
}
.list-top-right{
    float: right;
}
.list-top-right img{
    margin-top: 7px;
}
.news_main{
    width: 850px;
    height: 410px;
    float: right;
    margin-top: 70px;
    margin-right: 50px;
    position: relative;
}
.news_title{
    width: 100%;
    color: #595758;
    position: absolute;
    top:70px;
}
.c3_r {
    margin-top: 10px;
    width:265px;
    padding: 10px 15px;
    height: 660px;
    /*background: #2f9fb7;*/
    /*border: #DDDDDD 1px solid;*/
    background: url('image/home/list_of_name2.png');
    background-size:265px 660px;
}
.c3_n {width:30px;}
/* left */
.left_box {border:#DDDDDD 1px solid;}
.left_head {border-top:#DDDDDD 1px solid;background:#EEEEEE;height:31px;line-height:31px;overflow:hidden;padding:0 10px 0 10px;font-size:14px;font-weight:bold;}
.left_head span {font-weight:normal;font-size:12px;}
/* search */
.fsearch {padding:5px 0 10px 15px;background:#F4F4F4;border-top: 1px solid #DDDDDD}
.sch {padding:15px 20px 5px 20px;margin-bottom:10px;}
.sch p {padding:10px 10px 10px 10px;font-size:13px;margin:0;}
.sch_find {border-top:#DDDDDD 1px solid;border-bottom:#EEEEEE 1px solid;margin:5px 0 5px 0;padding:5px 0 5px 5px;font-weight:bold;}
.sch_site li {background:url('image/ico_search.gif') no-repeat 3px 3px;height:23px;line-height:23px;overflow:hidden;padding:0 5px 0 25px;color:#666666;}
.sch_relate li {background:url('image/arrow_up.gif') no-repeat 3px 3px;height:23px;line-height:23px;overflow:hidden;padding:0 5px 0 25px;color:#666666;}
.rank_list {background:url('image/rank_list.gif') no-repeat;}
.rank_list li {height:23px;line-height:23px;overflow:hidden;padding:0 5px 0 35px;}
.ppt {padding:1px 15px 1px 35px;line-height:25px;}
.ppt_l {width:60px;font-weight:bold;}
.ppt_r {color:#DFDFDF;}
.ppt span {padding:1px;background:#2E6AB1;border:#1D589E 1px solid;color:#FFFFFF;}
/* sell && buy && company */
.category {padding:10px 20px 5px 15px;}
.category p {padding:5px 0 5px 0;margin:0;}
.category div {padding:0 20px 0 20px;}
.category td{padding:10px}
.list {line-height:180%;margin:0 10px 0 10px;}
.list div img {border:#CCCCCC 1px solid;}
.list table {width:100%;border-bottom:#CCCCCC 1px dotted;}
.list td {padding:10px 0 10px 0;}
.list h3 {font-size:14px;margin:0px;height:22px;overflow:hidden;}
/*.about {border:#2786C6 1px solid;background:#F2F2F2;padding:8px;margin:15px 15px 0 15px;}*/
/*.about li {padding:5px 0 5px 5px;}*/
/*.about li span {display:block;width:100px;float:left;color:#1B4C7A;}*/
.contact_head {height:31px;line-height:31px;border:#DDDDDD 1px solid;border-bottom:none;border-top:#FF8110 2px solid;background:#EEEEEE;padding:0 10px 0 10px;font-weight:bold;font-size:14px;}
.contact_body {padding:10px;border:#DDDDDD 1px solid;border-top:none;}
.contact_body li {line-height:24px;padding:0 0 0 10px;}
.contact_body li span {color:#1B4C7A;padding:0 8px 0 0;}
.type {height:31px;line-height:31px;overflow:hidden;border-top:#DDDDDD 1px solid;background:#EEEEEE;padding-left:35px;}
a.type_1:link,a.type_1:visited,a.type_1:active,a.type_1:hover {float:left;display:block;padding:0 15px 0 15px;background:#FFFFFF;color:#000000;font-weight:bold;}
a.type_2:link,a.type_2:visited,a.type_2:active {float:left;display:block;padding:0 15px 0 15px;border-right:#E2F0FB 1px solid;}
a.type_2:hover {background:#258CFF;color:#FFFFFF;}
.img_tip {width:200px;z-index:1000;position:absolute;padding:5px;border:#DDDDDD 1px solid;background:#FFFFFF;}
.vote {padding:10px;}
.vote div {font-weight:bold;}
.vote li {padding:3px 0 3px 0;}
.vote p {margin:5px 0 5px 0;}
/* left_menu */
.left_menu {width:150px;}
.left_menu a {width:90%;display:block;color: #767676}
.left_menu a:hover {text-decoration: none;color: #333}
.left_menu ul {border:1px solid #ddd}
.left_menu_li {line-height:37px;height:37px;padding-left:30px;overflow:hidden;background-color: #F4F4F4}
.left_menu_on {line-height:37px;height:37px;padding-left:30px;background-color: #E2E2E2;overflow:hidden;}
.left_menu_on a{color: #333}
.warn {padding:30px 100px 30px 200px;}
.warn div {padding:5px 0 0 60px;background:url('image/warn.gif') no-repeat;font-size:14px;line-height:200%;}
.warn h1 {font-size:16px;margin:0;}
.guest_warn {padding:2px 0 2px 0;text-align:center;margin:0 130px 15px 130px;background:#FFF5D8;border:#FF7300 1px solid;}
.back2top {width:58px;height:58px;position:fixed;_position:absolute;left:50%;margin-left:600px;bottom:100px;_bottom:auto;cursor:pointer;display:none;}
.back2top a {display:block;width:100%;height:100%;background:url('image/back2top.png') no-repeat;}
.back2top a:hover {background:url('image/back2top.png') no-repeat -58px 0;}

.back2home {width:58px;height:58px;position:fixed;_position:absolute;left:50%;margin-left:600px;bottom:100px;_bottom:auto;cursor:pointer;display:none;}
.back2home a {display:block;width:100%;height:100%;background:url('image/back2home.png') no-repeat;}
.back2home a:hover {background:url('image/back2home-hover.png') no-repeat;}

#chat{
    width: 34px;
    height: 109px;
    position: fixed;
    right:0;
    top:50%;
    margin-top: -78px;
    border: 1px solid #ccc;
    text-align: center;
    padding:5px 0;
    cursor: pointer;
    background-color: #fff;
}

#chat:hover {
    background-color: #F1F1F1;
}
#chat span {
    font-size: 14px;
    display: inline-block;
    width: 14px;
    line-height:1.4;
    margin-top: 18px;
}
#chat i {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top:5px;
}
#chat-near{
    width: 34px;
    height: 156px;
    position: fixed;
    right:0;
    top:50%;
    margin-top: -78px;
    border: 1px solid #ccc;
    text-align: center;
    padding-bottom:160px;
    cursor: pointer;
    background-color: #fff;
}

#chat-near:hover {
    background-color: #F1F1F1;
}
#chat-near span {
    font-size: 14px;
    display: inline-block;
    width: 14px;
    line-height:1.4;
    margin-top: 22px;
}
#chat-near i {
    position: absolute;
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
}
.toast{
    width: 192px;
    height: 68px;
    position: fixed;
    top:50%;
    right:255px;
    margin-top: -34px;
    background-color: rgba(112, 112, 112, 0.66);
    border-radius: 10px;
    text-align: center;
    display: none;
}
.toast i{
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: #fff;
    margin:17px 0 0 17px;
    float: left;
}
.toast p {
    display: inline-block;
    float: right;
    margin: 0;
    width: 117px;
    margin-top: 17px;
    text-align: left;
    font-size: 12px;
    color: #fff;
}

.toast2{
    width: 192px;
    height: 68px;
    position: fixed;
    top:50%;
    right:255px;
    margin-top: -34px;
    background-color: rgba(112, 112, 112, 0.66);
    border-radius: 10px;
    text-align: center;
    display: none;
}
.toast2 i{
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: #fff;
    margin:17px 0 0 17px;
    float: left;
}
.toast2 p {
    display: inline-block;
    float: right;
    margin: 0;
    width: 117px;
    margin-top: 17px;
    text-align: left;
    font-size: 12px;
    color: #fff;
}
.toast2 .p-handle {
    display: inline-block;
    float: right;
    height: 34px;
    margin:0;
}
.toast2 .p-handle a{
    display: block;
    float: left;
    width: 50%;
    height: 34px;
    line-height: 34px;
    text-align: left;
    color: #fff;
    font-size: 12px;
}

#chat-list {
    width: 244px;
    height: 680px;
    border: 1px solid #ccc;
    position: fixed;
    right:8px;
    top:140px;
    background-color: #fff;
    z-index: 99999;
}
#chat-list h2{
    display: block;
    width: 244px;
    height: 40px;
    background-color: #87C571;
    color: #fff;
    margin:0;
    font-size: 16px;
    text-align: center;
    line-height:40px;
}
#chat-list .chat-search{
    width: 244px;
    height: 45px;
    border-bottom: 1px solid #ebebe8;
    text-align: center;
    font-size: 0;
}
#chat-list .chat-search input {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 187px;
    height: 26px;
    vertical-align: middle;
    outline: none;
    font-size: 12px;
    color: #464646;
    padding:0 10px;
    margin-top: 8px;
}
#chat-list .chat-search i{
    display: inline-block;
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ccc;
    margin:0;
    font-size: 16px;
    vertical-align: top;
}
.chat-tab{
    height: 558px;
    width: 100%;
}
.chat-tab .tab-top {
    height: 37px;
    width: 100%;
}

.chat-tab .tab-top>div{
    width: 50%;
    height: 37px;
    text-align: center;
    line-height:37px;
    background-color: #F1F1F1;
    color: #707070;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
.chat-tab .tab-top>div>i{
    color: #F85A04;
    font-size: 14px;
    margin-left: 5px;
}
.chat-tab .tab-top>div.active {
    background-color: #fff;
}
.chat-tab .tab-down {
    width: 100%;
    height: 521px;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat-tab .tab-down .tab-item {
    width: 100%;
    height: 52px;
}
.chat-tab .tab-down .tab-item:hover{
    background-color: #F1F1F1;
}

.chat-tab .tab-down .tab-item:hover .tab-time .tab-i{
    display: block;
}

.chat-tab .tab-down .tab-left {
    width: 100%;
    min-height: 521px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}
.chat-tab .tab-down .tab-show {
    display: block;
}
#chat-list .chat-hide {
    height: 35px;
    width: 100%;
    background-color: #F1F1F1;
    text-align: center;
    line-height:35px;
    font-size: 14px;
    color: #464646;
    cursor: pointer;
}
.chat-tab .tab-down .tab-item>dl {
    float: left;
    width: 150px;
    height: 100%;
    margin:0;
}
.chat-tab .tab-down .tab-item>dl>dt {
    float: left;
    width: 41px;
    height: 100%;
    margin-left: 15px;
    position: relative;
}
.chat-tab .tab-down .tab-item>dl>dt>span {
    position: absolute;
    top: 5px;
    /* left: 0; */
    left: 30px;
    background: #ff5b00;
    color: #fff;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}
.chat-tab .tab-down .tab-item>dl>dt img {
    width: 41px;
    height: 41px;
    display: block;
    margin-top: 6px;
    border-radius: 50%;
}
.chat-tab .tab-down .tab-item>dl>dd {
    width: 78px;
    height: 100%;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.chat-tab .tab-down .tab-item>dl>dd>p{
    width: 100%;
    height:19px;
    margin:0;
    padding:0;
    font-size: 12px;
    color: #464646;
    line-height: 19px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chat-tab .tab-down .tab-item>dl>dd>p>i{
    margin-right: 5px;
    color: #C1C1C1;
}
.chat-tab .tab-down .tab-item>dl>dd>p>i.active {
    color: #EE9B3A;
}
.chat-tab .tab-down .tab-item>dl>dd>p:nth-of-type(2) {
    margin-top:6px;
}
.chat-tab .tab-down .tab-item>dl>dd>p>img {
    width: 40px;
    height: 19px;
    vertical-align: top;
}
.chat-tab .tab-down .tab-item:nth-of-type(1) {
    margin-top: 10px;
}
.chat-tab .tab-down .tab-item .tab-add {
    width: 56px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #F1F1F1;
    float: right;
    margin-top: 12px;
    color: #707070;
    cursor: pointer;
    margin-right: 10px;
}
.chat-tab .tab-down .tab-item .tab-time {
    width: 75px;
    height: 100%;
    text-align: center;
    float: right;
    color: #464646;
    cursor: pointer;
    position: relative;
}
.chat-tab .tab-down .tab-item .tab-time  .tab-i{
     display: none;width: 100%;height: 32px;line-height:38px;color: #8D8D8E;
}
.chat-tab .tab-down .tab-item .tab-time  .tab-span{
    display:block;width: 100%;height: 24px;color: #8D8D8E;
    position: absolute;
    bottom: 0;
}
.chat-tab .tab-down .tab-item .tab-add:hover {
    background-color: #E0E0E0;
}
#chat-list .chat-tab .tab-down::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    background-color: #F5F5F5;
}
#chat-list .chat-tab .tab-down::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}
#chat-list .chat-tab .tab-down::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f1f1f1;
}
/*=========chat-near-list========*/
#chat-near-list {
    width: 244px;
    height: 680px;
    border: 1px solid #ccc;
    position: fixed;
    right:8px;
    top:140px;
    background-color: #fff;
    z-index: 99999;
}
#chat-near-list>h2{
    width: 100%;
    height: 39px;
    line-height:39px;
    font-size: 16px;
    color: #464646;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

#chat-near-list .chat-tab{
    height: 603px;
    width: 100%;
}
#chat-near-list .chat-tab .tab-top {
    height: 37px;
    width: 100%;
}

#chat-near-list .chat-tab .tab-top>div{
    width: 50%;
    height: 37px;
    text-align: center;
    line-height:37px;
    background-color: #F1F1F1;
    color: #707070;
    font-size: 14px;
    float: left;
    cursor: pointer;
}
#chat-near-list .chat-tab .tab-top>div>i{
    color: #F85A04;
    font-size: 14px;
    margin-left: 5px;
}
#chat-near-list .chat-tab .tab-top>div.active {
    background-color: #fff;
}
#chat-near-list .chat-tab .tab-down {
    width: 100%;
    height: 603px;
    overflow-x: hidden;
    overflow-y: auto;
}
/*#chat-near-list .chat-tab .tab-down::-webkit-scrollbar {*/
    /*width: 6px;*/
    /*height: 2px;*/
    /*background-color: #F5F5F5;*/
/*}*/
/*#chat-near-list .chat-tab .tab-down::-webkit-scrollbar-track {*/
     /*border-radius: 10px;*/
     /*background-color: #fff;*/
/*}*/
/*#chat-near-list .chat-tab .tab-down::-webkit-scrollbar-thumb {*/
      /*border-radius: 10px;*/
      /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
      /*background-color: #f1f1f1;*/
/*}*/
#chat-near-list .chat-tab .tab-down .tab-item {
    width: 100%;
    height: 52px;
}
#chat-near-list .chat-tab .tab-down .tab-left {
    width: 100%;
    min-height: 521px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}
#chat-near-list .chat-tab .tab-down .tab-show {
    display: block;
}
#chat-near-list .chat-hide {
    height: 35px;
    width: 100%;
    background-color: #F1F1F1;
    text-align: center;
    line-height:35px;
    font-size: 14px;
    color: #464646;
    cursor: pointer;
}
#chat-near-list .chat-tab .tab-down .tab-item>dl {
    float: left;
    width: 150px;
    height: 100%;
    margin:0;
}
#chat-near-list .chat-tab .tab-down .tab-item>dl>dt {
    float: left;
    width: 41px;
    height: 100%;
    margin-left: 15px;
    cursor: pointer;
}
#chat-near-list .chat-tab .tab-down .tab-item>dl>dt img {
    width: 41px;
    height: 41px;
    display: block;
    margin-top: 6px;
    border-radius: 50%;
}
#chat-near-list .chat-tab .tab-down .tab-item>dl>dd {
    width: 78px;
    height: 100%;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
#chat-near-list .chat-tab .tab-down .tab-item>dl>dd>p{
    width: 100%;
    height:19px;
    margin:0;
    padding:0;
    font-size: 12px;
    color: #464646;
    line-height: 19px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#chat-near-list .chat-tab .tab-down .tab-item>dl>dd>p>i{
    margin-right: 5px;
    color: #EE9B3A;
}
#chat-near-list .chat-tab .tab-down .tab-item>dl>dd>p:nth-of-type(2) {
    margin-top:6px;
}
#chat-near-list .chat-tab .tab-down .tab-item>dl>dd>p>img {
    width: 40px;
    height: 19px;
    vertical-align: top;
}
#chat-near-list .chat-tab .tab-down .tab-item:nth-of-type(1) {
    margin-top: 10px;
}
#chat-near-list .chat-tab .tab-down .tab-item .tab-add {
    width: 56px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #F1F1F1;
    float: right;
    margin-top: 12px;
    color: #707070;
    cursor: pointer;
    margin-right: 10px;
}
#chat-near-list .chat-tab .tab-down .tab-item .tab-time {
    width: 56px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    float: right;
    margin-top: 30px;
    color: #464646;
    cursor: pointer;
    margin-right: 17px;
}
#chat-near-list .chat-tab .tab-down .tab-item .tab-add:hover {
    background-color: #E0E0E0;
}
#gaosou_city {color:red;}
#powered {padding:6px 0 20px 0;}

.ui-btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ededed;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ui-btn:hover, .ui-btn:focus {
    text-decoration: none;
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: -o-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: linear-gradient(to bottom, #f5f5f5, #e7e7e7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe7e7e7', GradientType=0);
}
.ui-btn-inverse {
    color: #ffffff;
    background-color: #ff8a00;
    border-color: #ea7f00;
}
.ui-btn-inverse:hover, .ui-btn-inverse:focus {
    background-color: #fc9529;
    background-image: -moz-linear-gradient(top, #fa9e3a, #ff870f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fa9e3a), to(#ff870f));
    background-image: -webkit-linear-gradient(top, #fa9e3a, #ff870f);
    background-image: -o-linear-gradient(top, #fa9e3a, #ff870f);
    background-image: linear-gradient(to bottom, #fa9e3a, #ff870f);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffa9e3a', endColorstr='#ffff870f', GradientType=0);
}
.detail_page_btn {
    height: 28px;
    line-height: 28px;
    padding-left: 25px;
    padding-right: 25px;
}


.navbar-default {
    background: none;
    filter: none;
    border: none;
    z-index: 9999;
}
.navbar {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    left: 0;
    right: 0;
    border: none !important;
    font-size: 15px;
    font-weight: 400;
}
.navbar-nav {
    top: -100px;
    margin: 0;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
}
.navbar-sticky {
    background: #27343d;
    border-radius: 0;
    margin-top: 0;
    z-index: 9999;
    border-bottom: 1px solid #3b4850;
    top: 0 !important;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1080;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #FF6600;
}
.signup-button-link {
    padding: 0;
    margin-top: -20px;
}
a.button.btn-cta-legacy, .button.btn-cta-legacy, button.btn-cta-legacy {
    color: white;
    background-color: #eb0752;
}
.navbar-btn {
    margin-bottom: 8px;
    margin-top: 8px;
}
.btn-sticky {
    background-color: #eb0752;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    margin-right: 0;
    padding: 10px 25px;
}
.nav {padding:0 10px 0px 10px;}
.navbar {
    min-height: 32px;
}
.navbar-inverse .navbar-nav>li>a {
    padding: 6px 8px;
    /*color: #d9e9ed;*/
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}

.dropdown-hover .dropdown-menu li:hover .submenu
{
    visibility:visible
}
.dropdown-hover .dropdown:hover .dropdown-menu
{
    display:block
}
.navbar .nav-sub-list a > .badge {
    font-weight: normal;
    background: #d9534f;
    color: #ffffff;
    float: right;
    padding: 2px 5px;
}

.detail2
{
    background: #2f549f;
    margin: 0;
    padding: 2px 0 0 0;
}

.sort{
    background-color: darkorange;
}

.f_span{
    color: red;
    width: 100%;
    display: inline-block;
    font-size: 18px;
}

.all-a{
    display: block;
    width: 100px;
    height: 30px;
    background-color: #000;
    position: relative;
    top:-15px;
    left:50%;
    margin-left: -50px;
    opacity:0;
}


/*============= floor ============*/

.floor:nth-of-type(1){
    border:0;
}

.clear {
    clear: both;
}
.floor-hd {
    width: 100%;
    height: 65px;
    background-color: #fff;
}
.floor-hd h3 {
    height: 35px;
    line-height: 35px;
    font: 700 18px 'microsoft yahei';
    float: left;
    color: #333;
}

.floor-hd a{
    display: block;
    width: 60px;
    height: 65px;
    line-height: 65px;
    color: #333;
    font-size: 12px;
    cursor: pointer;
    float: right;
}
.floor-hd a:hover{
    color: red;
}


.floor-after {
    float: right;
    padding: 5px 0 0;
}

.floor-bd {
    height: 383px;
    border-right: 1px solid #e6e6e6;
    background: #fff;
}
.floor-lead-wrap {
    width: 239px;
    float: left;
}
.floor-lead {
    width: 239px;
    height: 383px;
    background: #f3f3f3;
    overflow: hidden;
}
.floor-lead img {
    width: 239px;
    height: 385px;
    display: inline;
    border: none;
    vertical-align: middle;
}
.floor-recmd {
    width: 950px;
    height: 383px;
    border: 1px solid #e6e6e6;
    border-right: none;
    float: left;
    overflow: hidden;
}

.recmd-slider-item {
    width: 189px;
    height: 191px;
    float: left;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}
.recmd-slider-item img {
    width: 140px;
    height: 102px;
    display: inline;
    vertical-align: middle;
    margin:12px 25px;
}

.dropdown-floor {
    display: none;
    border: 1px solid #dddddd;
    overflow: hidden;
    position: absolute;
    margin-top: 31px;
    margin-left: 260px;
    background: #f5f5f5;
    z-index: 1000;
}

#floor {
    float: left;
    width: 80px;
    height: 260px;
    position: absolute;
    right:50%;
    margin-right:610px;
    top:50%;
    margin-top: -130px;
    border:1px solid #ddd;
    background-color: #fff;
    display: none;
}
#floor ul{
    width: 100%;
    height: 100%;
}
#floor ul li{
    width: 100%;
    height: 26px;
}
.floor-active{
    background-color: red;
}
.floor-active a{
    color: #fff;
}
#floor ul li a{
    display: block;
    width: 100%;
    height: 26px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    line-height: 26px;
}
#floor ul li a:hover{
    background-color: red;
    color: #fff;
}
#floor ul li:nth-of-type(10) a{
    border:0;
}
#message .title{
    display: inline-block;
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin:0;
    font-family:'microsoft yahei';
}
#message img{
    width: 610px;
    height: 189px;
}
.list-center{
    width: 270px;
    height: 189px;
    float: left;
    margin-left: 20px;
    overflow: hidden;
}
.list-center li{
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.list-center *{
    overflow: hidden;
}
.list-center li span{
    padding-right: 5px;
    color: #e60000;
    font-size: 14px;
}
.list-right{
    width: 270px;
    height: 189px;
    float: left;
    margin-left: 20px;
    overflow: hidden;
}
.list-right li{
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.list-right li *{
    overflow: hidden;
}
.list-right li span{
    padding-right: 5px;
    color: #e60000;
    font-size: 14px;
}
















