<!--<script src="{DT_STATIC}file/script/bootstrap.min.js"></script>-->
<script src="{DT_STATIC}file/script/jqplugins/jquery.form.js"></script>
<script src="{DT_STATIC}file/script/bootstrap-datetimepicker.js"></script>
<script src="{DT_STATIC}file/script/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="{DT_STATIC}file/script/sco.confirm.js"></script>
<script src="{DT_STATIC}file/script/sco.modal.js"></script>
<script src="{DT_STATIC}file/script/sco.valid.js"></script>
<!--<script src="{DT_STATIC}file/script/holder.min.js"></script>-->
<script src="{DT_STATIC}file/script/model/common/base.js"></script>
<!--<script src="{DT_STATIC}file/script/jquery.bgiframe.pack.js"></script>-->
<!--<script src="{DT_STATIC}file/script/jqplugins/jscroll/jquery.mousewheel.js"></script>-->
<!--<script src="{DT_STATIC}file/script/jqplugins/jscroll/jquery.jscrollpane.min.js"></script>-->
<!--<script src="{DT_STATIC}file/script/jquery_placeholder.js" type="text/javascript"></script>-->

<!--{eval include(S_ROOT.'/control/include.php');}-->

<!--<link href="{DT_STATIC}skin/default/k_css/animate.css" rel="stylesheet" type="text/css">-->
<!--<link href="{DT_STATIC}skin/default/k_css/rework.css" rel="stylesheet" type="text/css">-->
<!--<link href="{DT_STATIC}skin/default/k_css/hongb.css" rel="stylesheet" type="text/css">-->
<!-- js超酷消息警告框插件  -->
<!--<script type="text/javascript" src="{DT_STATIC}file/script/swal/js/sweet-alert.min.js?r={RANDOM_PARA}"></script>-->
<!--<link rel="stylesheet" type="text/css" href="{DT_STATIC}file/script/swal/css/sweet-alert.css">-->

