<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
<title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$DT[sitename]}{/if}{/if}</title>
{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}
{if $head_mobile}
<meta http-equiv="mobile-agent" content="format=html5;url={$head_mobile}">
{/if}
<link rel="shortcut icon" type="image/x-icon" href="{DT_STATIC}gaosou.ico"/>
<link rel="bookmark" type="image/x-icon" href="{DT_STATIC}gaosou.ico"/>
{if $head_canonical}
<link rel="canonical" href="{$head_canonical}"/>
{/if}
{if $EXT[archiver_enable]}
<link rel="archives" title="{$DT[sitename]}" href="{$EXT[archiver_url]}"/>
{/if}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css"/>
{if $moduleid>4 && $moduleid != 42 && $module}<link rel="stylesheet" type="text/css" href="{DT_SKIN}{$module}.css"/>{/if}
{if $CSS}
{loop $CSS $css}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}{$css}.css"/>
{/loop}
{/if}
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}ie6.css"/>
<![endif]-->
<!--[{if !DT_DEBUG}<script type="text/javascript">window.onerror=function(){return true;}</script>{/if}]-->
<script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.min.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jqplugins/jquery.cxscroll.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/bootstrap.min.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
{if $lazy}<script type="text/javascript" src="{DT_STATIC}file/script/jqplugins/jquery.lazyload.js"></script>{/if}
{if $JS}
{loop $JS $js}
<script type="text/javascript" src="{DT_STATIC}file/script/{$js}.js"></script>
{/loop}
{/if}
{php $searchid = ($moduleid > 3 && $MODULE[$moduleid]['ismenu'] && !$MODULE[$moduleid]['islink']) ? $moduleid : 5;}
<script type="text/javascript">
{if $head_mobile && $EXT[mobile_goto]}
//GoMobile('{$head_mobile}');
{/if}
var searchid = {$searchid};
{if $itemid && $DT[anticopy]}
document.oncontextmenu=function(e){return false;};
document.onselectstart=function(e){return false;};
{/if}
</script>
<!--[以上为系统关键代码，除非您明确其含义，否则请勿修改或删除，否则会导致系统错误]-->
<!--[模板中所有带id的元素，请勿修改或删除，否则会导致部分JS代码无法运行]-->
<!--[以上类似的注释，在编译模板时，系统会自动移除，不会显示在实际的页面中]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-default container" role="navigation" style="width: auto;background: #F1F1F1;min-height: 32px;">
	<div class="container navbar-container" style="max-height: 32px;min-width: 1200px;">
		<!--<div class="navbar-header">-->
			<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
				<!--<span class="sr-only">Toggle navigation</span>-->
				<!--<span class="icon-bar"></span>-->
				<!--<span class="icon-bar"></span>-->
				<!--<span class="icon-bar"></span>-->
			<!--</button>-->
			<!--<div class="navbar-brand">-->
				<!--<a href="{$MODULE[1][linkurl]}"><img class="full-logo" src="{DT_SKIN}/image/logo.png" width="111" height="37" alt="Logo"></a>-->
			<!--</div>-->
		<!--</div>-->
		<div class="navbar-collapse collapse f_b">
			<ul class="nav navbar-nav" class="f_l" id="menu_topleft"></ul>
			<ul class="nav navbar-nav dropdown-hover" style="float: right;padding: 0;" id="menu_topright"></ul>
		</div>
	</div>
</div>
{if $head_mobile}<div id="gaosou_qrcode" style="display:none;"></div>{/if}
<div class="m"><div id="search_tips" style="display:none;"></div></div>
<div class="m">
	<div id="search_module" style="display:none;" onmouseout="Dh('search_module');" onmouseover="Ds('search_module');">
	{loop $MODULE $m}{if $m[ismenu] && !$m[islink]}<a href="javascript:void(0);" onclick="setModule('{$m[moduleid]}','{$m[name]}')">{$m[name]}</a>{/if}{/loop}
	</div>
</div>
