<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{$DT[sitename]}</title>
<link rel="shortcut icon" href="{DT_STATIC}gaosou.ico"/>
<link rel="bookmark" href="{DT_STATIC}gaosou.ico"/>
<link rel="stylesheet" type="text/css" href="{DT_STATIC}{$MODULE[2][moduledir]}/image/style.css"/>
<!--[if IE]>
<style type="text/css">
    .head_user em {margin:-4px 0 0 -4px;}
    #mini_profile {margin:20px 0 0 -140px;}
</style>
<![endif]-->
<script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.min.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/admin.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/member.js"></script>
</head>
<body>
<div id="msgbox" style="display:none;"></div>
{dmsg()}
<div valign="top" class="main" id="main">