<!--<div class="main_head"><div><span class="f_r"><a href="{userurl($username, 'file=mall', $domain)}"><img src="{DT_STATIC}{$MODULE[4][moduledir]}/image/more.gif" title="更多"/></a></span><strong>{$main_name[$HM]}</strong></div></div>-->
<!--<div class="main_head" style="position:absolute;margin-left:160px;margin-top: -44px;"><H4><strong><span>出售商品</span></strong></H4></div>-->
<div class="main_head" style="position:relative;margin-left:15px;margin-top: 0px;border-bottom:0px solid #b1b1b1;width: 360px;text-align: left;">
	<H5><span class="f_l">热卖</span></H5></div>

<div class="main_body">
<!--[{php $tags=tag("moduleid=16&condition=status>2 and username='$username'&pagesize=".$main_num[$HM]."&order=edittime desc&fields=itemid,title,linkurl,thumb,edittime,price&template=null");}]-->
<!--{php $tags=tag("moduleid=16&condition=status>2 and username='$username'&pagesize=1&order=edittime desc&fields=itemid,title,linkurl,thumb,edittime,price&template=null");}-->
<table cellpadding="0" cellspacing="0" width="100%">
{loop $tags $i $t}
{if $i%5==0}<tr align="center">{/if}
<td valign="top" width="20%" height="180">
<div class="thumb" onmouseover="this.className='thumb thumb_on';" onmouseout="this.className='thumb';">
	<!--<a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=mall&itemid='.$t['itemid'], $domain)}{/if}"><img src="{DT_PATH}{$t[thumb]}" width="100" height="100" alt="{$t[alt]}"/></a>-->
	<div ><a href="{if 1}{$t[linkurl]}{else}{userurl($username, 'file=mall&itemid='.$t['itemid'], $domain)}{/if}"><img src="{DT_PATH}{$t[thumb]}" width="100" height="100" alt="{$t[alt]}"/></a></div>
	<!--<div><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=mall&itemid='.$t['itemid'], $domain)}{/if}" title="{$t[alt]}">{$t[title]}</a></div>-->
	<div><a href="{if 1}{$t[linkurl]}{else}{userurl($username, 'file=mall&itemid='.$t['itemid'], $domain)}{/if}" title="{$t[alt]}">{$t[title]}</a></div>
	<span class="f_price">{$DT[money_sign]}{$t[price]}</span>
</div>
</td>
{if $i%5==4}</tr>{/if}
{/loop}
</table>
</div>