<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={$_K['charset']}">
    <title>admin</title>


    <link href="template/css/admin_management.css" rel="stylesheet" type="text/css" />
    <link href="template/css/button/stylesheets/css3buttons.css" rel="stylesheet" type="text/css" />
    <link title="style1" href="template/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="template/js/jquery.js"></script>
    <!--<script type="text/javascript" src="tpl/js/keke.js"></script>-->
</head>
<body class="frame_body">
<div class="frame_content">
    <div id="append_parent"></div>
 
 